<div class="col-xs-12 col-md mt-4">
    <div class="card m-auto" style="width: 192px;">
        <a href="#" class="text-decoration-none">
            <img class="card-img-top"
                 src="https://product.hstatic.net/200000343865/product/uyen-co-tich-viet-nam_bia-t2_tb2019-1_6e6890165318400eabe336aad9b66b84_dcc4fdbc5726413e95fa1414f373a9c8_large.jpg"
                 alt="Card image">
            <div class="card-body p-2">
                <p class="card-title text-dark text-decoration-none mb-1 text-line-clamp"
                   style="cursor: pointer;">{{ s['tensach'] }}</p>
                <span class="card-text text-danger mb-2" style="cursor: pointer;">{{ s['gia'] }} VNĐ </span>
                <span class="ms-5 text-dark"><i class="fa fa-shopping-cart text-hover"
                                                style="font-size:24px"></i></span>
            </div>
        </a>
    </div>
</div>