<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BÁN HÀNG TRỰC TUYẾN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active text-hover" href="/">Trang chủ</a>
                </li>
                <li>
                    <div class="collections dropdown h-100">
                      <button type="button" class="btn dropdown-toggle text-hover text-white shadow-none outline-0 h-100" data-bs-toggle="dropdown">
                        Thể loại
                      </button>
                      <ul class="dropdown-menu">
                        {% for t in theloai %}
                          <li>
                              <a class="dropdown-item" href="/?theloai={{t.id}}">{{ t.tentheloai }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                </li>
            </ul>

            <form class="d-flex me-4" method="get" action="/">
                <input class="form-control me-2" type="text" name="kw" placeholder="Nhập từ khóa...">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
            <a href="/dangnhap" class="me-2 text-white text-decoration-none text-hover">Đăng nhập</a>
            <p class="text-white me-2 mb-0 mt-0">/</p>
            <a href="/dangky" class="me-2 text-white text-decoration-none text-hover">Đăng ký</a>
        </div>
    </div>
</nav>