<section class="container">
    <div class="row">
        <div class="section-title text-center clearfix p-3">
            <h2>
                ĐÓN NOEL VÀ CHÀO NĂM MỚI 2024
            </h2>
        </div>
        <div class="col-xs-12 col-md-3 p-3">
            <div class="card m-auto" style="width: 192px;">
                <a href="#" class="text-decoration-none">
                    <img class="card-img-top"
                         src="https://product.hstatic.net/200000343865/product/uyen-co-tich-viet-nam_bia-t2_tb2019-1_6e6890165318400eabe336aad9b66b84_dcc4fdbc5726413e95fa1414f373a9c8_large.jpg"
                         alt="Card image">
                    <div class="card-body p-2">
                        <p class="card-title text-dark text-decoration-none mb-1 text-line-clamp"
                           style="cursor: pointer;">TRUYỆN CỔ TÍCH VIỆT NAM - TẬP 2 (2018)</p>
                        <span class="card-text text-danger mb-2" style="cursor: pointer;">34.000 VNĐ </span>
                        <span class="ms-5 text-dark"><i class="fa fa-shopping-cart text-hover" style="font-size:24px"></i></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 p-3">
            <div class="card m-auto" style="width: 192px;">
                <a href="#" class="text-decoration-none">
                    <img class="card-img-top"
                         src="https://product.hstatic.net/200000343865/product/uyen-co-tich-viet-nam_bia-t2_tb2019-1_6e6890165318400eabe336aad9b66b84_dcc4fdbc5726413e95fa1414f373a9c8_large.jpg"
                         alt="Card image">
                    <div class="card-body p-2">
                        <p class="card-title text-dark text-decoration-none mb-1 text-line-clamp"
                           style="cursor: pointer;">TRUYỆN CỔ TÍCH VIỆT NAM - TẬP 2 (2018)</p>
                        <span class="card-text text-danger mb-2" style="cursor: pointer;">34.000 VNĐ </span>
                        <span class="ms-5 text-dark"><i class="fa fa-shopping-cart text-hover" style="font-size:24px"></i></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 p-3">
            <div class="card m-auto" style="width: 192px;">
                <a href="#" class="text-decoration-none">
                    <img class="card-img-top"
                         src="https://product.hstatic.net/200000343865/product/uyen-co-tich-viet-nam_bia-t2_tb2019-1_6e6890165318400eabe336aad9b66b84_dcc4fdbc5726413e95fa1414f373a9c8_large.jpg"
                         alt="Card image">
                    <div class="card-body p-2">
                        <p class="card-title text-dark text-decoration-none mb-1 text-line-clamp"
                           style="cursor: pointer;">TRUYỆN CỔ TÍCH VIỆT NAM - TẬP 2 (2018)</p>
                        <span class="card-text text-danger mb-2" style="cursor: pointer;">34.000 VNĐ </span>
                        <span class="ms-5 text-dark"><i class="fa fa-shopping-cart text-hover" style="font-size:24px"></i></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 p-3">
            <div class="card m-auto" style="width: 192px;">
                <a href="#" class="text-decoration-none">
                    <img class="card-img-top"
                         src="https://product.hstatic.net/200000343865/product/uyen-co-tich-viet-nam_bia-t2_tb2019-1_6e6890165318400eabe336aad9b66b84_dcc4fdbc5726413e95fa1414f373a9c8_large.jpg"
                         alt="Card image">
                    <div class="card-body p-2">
                        <p class="card-title text-dark text-decoration-none mb-1 text-line-clamp"
                           style="cursor: pointer;">TRUYỆN CỔ TÍCH VIỆT NAM - TẬP 2 (2018)</p>
                        <span class="card-text text-danger mb-2" style="cursor: pointer;">34.000 VNĐ </span>
                        <span class="ms-5 text-dark"><i class="fa fa-shopping-cart text-hover" style="font-size:24px"></i></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 p-3">
            <div class="card m-auto" style="width: 192px;">
                <a href="#" class="text-decoration-none">
                    <img class="card-img-top"
                         src="https://product.hstatic.net/200000343865/product/uyen-co-tich-viet-nam_bia-t2_tb2019-1_6e6890165318400eabe336aad9b66b84_dcc4fdbc5726413e95fa1414f373a9c8_large.jpg"
                         alt="Card image">
                    <div class="card-body p-2">
                        <p class="card-title text-dark text-decoration-none mb-1 text-line-clamp"
                           style="cursor: pointer;">TRUYỆN CỔ TÍCH VIỆT NAM - TẬP 2 (2018)</p>
                        <span class="card-text text-danger mb-2" style="cursor: pointer;">34.000 VNĐ </span>
                        <span class="ms-5 text-dark"><i class="fa fa-shopping-cart text-hover" style="font-size:24px"></i></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 p-3">
            <div class="card m-auto" style="width: 192px;">
                <a href="#" class="text-decoration-none">
                    <img class="card-img-top"
                         src="https://product.hstatic.net/200000343865/product/uyen-co-tich-viet-nam_bia-t2_tb2019-1_6e6890165318400eabe336aad9b66b84_dcc4fdbc5726413e95fa1414f373a9c8_large.jpg"
                         alt="Card image">
                    <div class="card-body p-2">
                        <p class="card-title text-dark text-decoration-none mb-1 text-line-clamp"
                           style="cursor: pointer;">TRUYỆN CỔ TÍCH VIỆT NAM - TẬP 2 (2018)</p>
                        <span class="card-text text-danger mb-2" style="cursor: pointer;">34.000 VNĐ </span>
                        <span class="ms-5 text-dark"><i class="fa fa-shopping-cart text-hover" style="font-size:24px"></i></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>